<footer>
    <div class="cont1-footer">
        <section class="experiencias">
            <h3>Experiencias</h3>
            <ul>
                <li><a href="/experienceCatalog">Hoteleria</a></li>
                <li><a href="/experienceCatalog">Gourmet</a></li>                   
                <li><a href="/experienceCatalog">Deportes</a></li>                      
                <li><a href="/experienceCatalog">Cultura</a></li>  
                <li><a href="/experienceCatalog">Viajes</a></li>
            </ul>
        </section>
        <section class="metodosDePago">
            <h3>Metodos de pago</h3>
            <h4>Pagar con tarjeta de credito o debito</h4>
            <i class="fa-solid fa-credit-card"></i>
            <h4>Pago en efectivo</h4>
            <i class="fa-solid fa-money-bills"></i>
        </section>
        <section class="contactanos">
            <h3>Contactanos</h3>
            <h4>Informacion de contacto</h4>
            <i class="fa-brands fa-whatsapp"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
        </section>
    </div>
</footer>