<div class="image-carousel">
    <div class="back carousel-button">
        <i class="fa-solid fa-angle-left"></i>
    </div>
    <div class="forward carousel-button">
        <i class="fa-solid fa-angle-right"></i>
    </div>
    <img src="/img/bernabeu.jpg" alt="">
</div>