<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/buyCart.css" rel="stylesheet">
</head>
<body>
    <h1> Carrito de compras Juli</h1>
    <header>

    </header>
    <main>
        <div class="compraUno">
            <div class="imagenUno">
                <img src="/img/bernabeu.jpg" alt="">
            </div>
            <div class="infoCompra">
                <div class="personasMasPrecio">
                    <div class="personasCantidad">
                        <i class="fa-solid fa-user"></i>
                        <div>2</div>
                    </div>
                    <div class="precio"><p>310.000$</p></div>
                </div>
                <div class="cantidad">
                    <i class="fa-solid fa-plus"></i>
                    <div>1</div>
                    <i class="fa-solid fa-minus"></i>
                </div>
            </div>
        </div>
    </main>
</body>
</html>