<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/buyCart.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="cont1">
            <div class="mobile-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="logo-container">
                <img class="logo" src="/img/logo.png" alt="logo">
            </div>
            <form class="search-container" action="/catalogo">
                <input type="text" class="buscador" placeholder="Busca tu mejor experiencia">
                <i class="fa-solid fa-magnifying-glass"></i> 
            </form>
        </div>
        <div class="cont2">

            <div class="categorias">
                <i class="fa-solid fa-plus"></i>

                    <a href="/experienceCatalog">
                        <i class="fa-solid fa-angle-down"></i>
                        <i class="fa-solid fa-hotel"></i>
                        <i class="fa-solid fa-kitchen-set"></i>
                        <i class="fa-solid fa-person-skiing"></i>
                        <i class="fa-solid fa-landmark"></i>
                        <i class="fa-solid fa-plane-departure"></i>
                    </a>
            </div>

            <div class="bottom-header-right">
            <a href="/login" class="usuario">
                <i class="fa-solid fa-user"></i>
                <p>Usuario</p>
                <i class="fa-solid fa-arrow-down"></i>
            </a>
            <a href="/buyCart"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
    </header>
    
    <main>
        <article class="compraDos">
            <div class="imagenDos">
                <img src="/img/bernabeu.jpg" alt="">
                <h2 class="nombreProducto">Experiencia Santiago Bernabeu</h2>
            </div> 
            <div class="infoCompraDos">
                <div class="precioMasCant">
                    <div class="personasCantidad">
                        <i class="fa-solid fa-user"></i>
                        <p class="fraseEntera">Para 2 personas</p>
                        <p class="numeroSolo"> 2 </p>
                    </div>
                    <div class="precio">
                        <p>$310.000</p>
                    </div>
                </div>
                <div class="cantidadMasTacho">
                    <div class="cantidad">
                        <i class="fa-solid fa-minus"></i>
                        <p>1</p>
                        <i class="fa-solid fa-plus"></i>
                    </div>
                    <i class="fa-solid fa-trash-can"></i>
                </div>
            </div>
        </article>
        <hr>
        <article class="compraDos">
            <div class="imagenDos">
                <img src="/img/bernabeu.jpg" alt="">
                <h2 class="nombreProducto">Experiencia Santiago Bernabeu</h2>
            </div> 
            <div class="infoCompraDos">
                <div class="precioMasCant">
                    <div class="personasCantidad">
                        <i class="fa-solid fa-user"></i>
                        <p class="fraseEntera">Para 2 personas</p>
                        <p class="numeroSolo"> 2 </p>
                    </div>
                    <div class="precio">
                        <p>$310.000</p>
                    </div>
                </div>
                <div class="cantidadMasTacho">
                    <div class="cantidad">
                        <i class="fa-solid fa-minus"></i>
                        <p>1</p>
                        <i class="fa-solid fa-plus"></i>
                    </div>
                    <i class="fa-solid fa-trash-can"></i>
                </div>
            </div>
        </article>
        <hr>
        <article class="compraDos">
            <div class="imagenDos">
                <img src="/img/bernabeu.jpg" alt="">
                <h2 class="nombreProducto">Experiencia Santiago Bernabeu</h2>
            </div> 
            <div class="infoCompraDos">
                <div class="precioMasCant">
                    <div class="personasCantidad">
                        <i class="fa-solid fa-user"></i>
                        <p class="fraseEntera">Para 2 personas</p>
                        <p class="numeroSolo"> 2 </p>
                    </div>
                    <div class="precio">
                        <p>$310.000</p>
                    </div>
                </div>
                <div class="cantidadMasTacho">
                    <div class="cantidad">
                        <i class="fa-solid fa-minus"></i>
                        <p>1</p>
                        <i class="fa-solid fa-plus"></i>
                    </div>
                    <i class="fa-solid fa-trash-can"></i>
                </div>
            </div>
        </article>
        <hr>
        <article>
            <div class="envioDomicilio">
                <div class="sub">
                    <p>Envio a domicilio</p>
                    <i class="fa-solid fa-arrow-down"></i>
                </div>
                <p class="gratis">Gratis</p>
            </div>
            <div class="precioTotal">
                <p class="total">Total</p>
                <p class="dinero">$930.000</p>
            </div>
            <div>
                <a href="#"><button class="botonContinuar">Continuar</button></a>
            </div>
        </article>
     </main>
     <footer>
        <div class="cont1-footer">
            <section class="experiencias">
                <h3>Experiencias</h3>
                <ul>
                    <li><a href="/catalogo/hoteleria">Hoteleria</a></li>
                    <li><a href="/catalogo/gourmet">Gourmet</a></li>                   
                    <li><a href="/catalogo/deportes">Deportes</a></li>                      
                    <li><a href="/catalogo/cultura">Cultura</a></li>  
                    <li><a href="/catalogo/viajes">Viajes</a></li>
                </ul>
            </section>
            <section class="metodosDePago">
                <h3>Metodos de pago</h3>
                <h4>Pagar con tarjeta de credito o debito</h4>
                <i class="fa-solid fa-credit-card"></i>
                <h4>Pago en efectivo</h4>
                <i class="fa-solid fa-money-bills"></i>
            </section>
            <section class="contactanos">
                <h3>Contactanos</h3>
                <h4>Informacion de contacto</h4>
                <i class="fa-brands fa-whatsapp"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
            </section>
        </div>
    </footer>
    
</body>
</html>