<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/buyCart.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
</head>
<body>
    
    <!-- HEADER -->
    <%- include('./partials/header')%>
    
    <main>
        <article class="compraDos">
            <div class="imagenDos">
                <img src="/img/bernabeuCatalog.jpg" alt="">
                <h2 class="nombreProducto">Experiencia Santiago Bernabeu</h2>
            </div> 
            <div class="infoCompraDos">
                <div class="precioMasCant">
                    <div class="personasCantidad">
                        <i class="fa-solid fa-user"></i>
                        <p class="fraseEntera">Para 2 personas</p>
                        <p class="numeroSolo"> 2 </p>
                    </div>
                    <div class="precio">
                        <p>$310.000</p>
                    </div>
                </div>
                <div class="cantidadMasTacho">
                    <div class="cantidad">
                        <i class="fa-solid fa-minus"></i>
                        <p>1</p>
                        <i class="fa-solid fa-plus" id="plusBuyCart"></i>
                    </div>
                    <i class="fa-solid fa-trash-can"></i>
                </div>
            </div>
        </article>
        <hr>
        <article class="compraDos">
            <div class="imagenDos">
                <img src="/img/gizaCatalog.png" alt="">
                <h2 class="nombreProducto">Piramides de Giza</h2>
            </div> 
            <div class="infoCompraDos">
                <div class="precioMasCant">
                    <div class="personasCantidad">
                        <i class="fa-solid fa-user"></i>
                        <p class="fraseEntera">Para 1 personas</p>
                        <p class="numeroSolo"> 1 </p>
                    </div>
                    <div class="precio">
                        <p>$275.000</p>
                    </div>
                </div>
                <div class="cantidadMasTacho">
                    <div class="cantidad">
                        <i class="fa-solid fa-minus"></i>
                        <p>1</p>
                        <i class="fa-solid fa-plus" id="plusBuyCart"></i>
                    </div>
                    <i class="fa-solid fa-trash-can"></i>
                </div>
            </div>
        </article>
        <hr>
        <article class="compraDos">
            <div class="imagenDos">
                <img src="/img/romaCatalog.jpg" alt="">
                <h2 class="nombreProducto">Experiencia Roma</h2>
            </div> 
            <div class="infoCompraDos">
                <div class="precioMasCant">
                    <div class="personasCantidad">
                        <i class="fa-solid fa-user"></i>
                        <p class="fraseEntera">Para 1 personas</p>
                        <p class="numeroSolo"> 1 </p>
                    </div>
                    <div class="precio">
                        <p>$350.000</p>
                    </div>
                </div>
                <div class="cantidadMasTacho">
                    <div class="cantidad">
                        <i class="fa-solid fa-minus"></i>
                        <p>1</p>
                        <i class="fa-solid fa-plus" id="plusBuyCart"></i>
                    </div>
                    <i class="fa-solid fa-trash-can"></i>
                </div>
            </div>
        </article>
        <hr>
        <article>
            <div class="envioDomicilio">
                <div class="sub">
                    <p>Envio a domicilio</p>
                    <i class="fa-solid fa-arrow-down"></i>
                </div>
                <p class="gratis">Gratis</p>
            </div>
            <div class="precioTotal">
                <p class="total">Total</p>
                <p class="dinero">$935.000</p>
            </div>
            <div class="divBoton">
                <a href="#"><button class="botonContinuar">Continuar</button></a>
            </div>
        </article>
     </main>
     
    <!-- FOOTER -->
    <%- include('./partials/footer')%>
    
</body>
</html>