<!-- HEAD -->
<%- include('./partials/head')%>

    <link href="/css/editor.css" rel="stylesheet">
    <title>GoodTrail | Editor</title>
</head>
<body>

    <!-- HEADER -->
    <%- include('./partials/header')%>
    <section class="form-section">
        <main>
            <h1 class="header-title">Tus experiencias</h1>
            <nav class="edition-nav">
                <ul>
                    <li><a href="../product/creacion" class="option-unselected">Creación</a></li>
                    <li><a href="#" class="option-selected">Edición</a></li>
                </ul>
            </nav>    
            <form class="forms" action="#" method="post">
                <div class="input-container">
                    <label for="userName">Nombre</label>
                    <input type="text" name="userName" id="userName" required>
                </div>
                <div class="input-container">
                    <label for="">Descripción</label>
                    <textarea type="text" name="description" maxlength="400" style="height: 150px" required> </textarea>
                </div>
                <div class="input-container">
                    <label for="">Imagenes</label>
                    <input class= "image" type="file" id="file" name="image" accept=".jpg" multiple required> 
                    <label id="imageButton" for="file">
                        <i class="fa-solid fa-plus"></i>
                    </label>
                </div>
                <div class="categoryDestiny">
                    <div class="input-container">
                            <label for="">Categoría</label>
                            <select name="ciudad">
                                <option value="a">Aventura</option>
                                <option value="d">Deportes</option>
                                <option value="c">Cultura</option>
                            </select>
                    </div>
                    <div class="input-container">
                            <label for="">Destino</label>
                            <input type="search" name="destiny" required> 
                    </div>
                </div>
                <div class="peopleDuration">
                    <div class="input-container">
                        <label for="">Personas</label>
                        <input type="number" name="people" required> 
                    </div>
                    <div class="duration">
                        <div class="input-container">
                                <label for="">Duración</label>
                                <input type="number" name="duration" required> 
                        </div>
                        <div class="input-container">
                            <label class= "hidden" for="">Duración</label>
                                <select name="coin">
                                    <option value="dia">día</option>
                                    <option value="mes">mes</option>
                                    <option value="año">año</option>
                                </select> 
                        </div>
                    </div>
                </div>
                <div class="coinPrice">
                    <div class="input-container">
                        <label for="">Precio</label>
                            <select name="coin">
                                <option value="$">$</option>
                                <option value="€">€</option>
                                <option value="¥">¥</option>
                            </select> 
                    </div>
                    <div class="input-container">
                         <label class="hidden" for="">Precio</label>
                         <input type="number" name="price" required> 
                    </div>
                </div>
                <div class="buttomTrash">
                    <button class="edition-button">Editar</button>
                    <i class="fa-solid fa-trash-can"></i>
                </div>
            </form>
        </main>
    </section>

    <!-- FOOTER -->
    <%- include('./partials/footer')%>
</body>