<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        Aca va el header
    </header>

    <main>

    <form action="" class="filter-form">
        <h2>Filtrar</h2>
        <div>
            <h3>Categorías</h3>
            <div>
                <input type="radio" value="category" name="category">Viajes</input>
                <input type="radio" value="category" name="category">Hotelería</input>
                <input type="radio" value="category" name="category">Gourmet</input>
                <input type="radio" value="category" name="category">Desportes</input>
                <input type="radio" value="category" name="category">Cultura</input>
            </div>
        </div>
        <div>
            <h3>Cantidad de personas</h3>
            <div>
                <input type="radio" name="quantity">1 Persona</input>
                <input type="radio" name="quantity">2 Persona</input>
                <input type="radio" name="quantity">Más de 2 Persona</input>
            </div>
        </div>
    </form>

    </main>
    <footer>
        Aca va el footer
    </footer>
    
</body>
</html>