<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/experienceCatalog.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="cont1">
            <div class="mobile-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="logo-container">
                <img class="logo" src="/img/logo.png" alt="logo">
            </div>
            <form class="search-container" action="/catalogo">
                <input type="text" class="buscador" placeholder="Busca tu mejor experiencia">
                <i class="fa-solid fa-magnifying-glass"></i> 
            </form>
        </div>
        <div class="cont2">

            <div class="categorias">
                <i class="fa-solid fa-plus"></i>

                    <a href="/experienceCatalog">
                        <i class="fa-solid fa-angle-down"></i>
                        <i class="fa-solid fa-hotel"></i>
                        <i class="fa-solid fa-kitchen-set"></i>
                        <i class="fa-solid fa-person-skiing"></i>
                        <i class="fa-solid fa-landmark"></i>
                        <i class="fa-solid fa-plane-departure"></i>
                    </a>
            </div>

            <div class="bottom-header-right">
            <a href="/login" class="usuario">
                <i class="fa-solid fa-user"></i>
                <p>Usuario</p>
                <i class="fa-solid fa-arrow-down"></i>
            </a>
            <a href="/buyCart"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
    </header>

    <main>

    <form action="" class="filter-form">
        <h2 class="filter-title">Filtrar</h2>
        <div class="filter-container">
            <h3>Categorías</h3>
            <div class="option-container">
                <div class="option">
                    <input type="radio" value="category" name="category">
                    <label>Viajes</label>
                </div>
                <div class="option">
                    <input type="radio" value="category" name="category">
                    <label>Hotelería</label>
                </div>
                <div class="option">
                    <input type="radio" value="category" name="category">
                    <label>Gourmet</label>
                </div>
                <div class="option">
                    <input type="radio" value="category" name="category">
                    <label>Deportes</label>
                </div>
                <div class="option">
                    <input type="radio" value="category" name="category">
                    <label>Cultura</label>
                </div>
            </div>
        </div>
        <div class="filter-container">
            <h3>Cantidad de personas</h3>
            <div class="option-container">
                <div class="option">
                    <input type="radio" name="quantity">
                    <label>1 Persona</label>
                </div>
                <div class="option">
                    <input type="radio" name="quantity">
                    <label>2 Persona</label>
                </div>
                <div class="option">
                    <input type="radio" name="quantity">
                    <label>Más de 2 Persona</label>
                </div>
            </div>
        </div>
        <div class="filter-container">
            <h3>Destino</h3>
            <div class="option-container">
                <div class="option">
                    <input type="radio" name="destination">
                    <label>Buenos Aires</label>
                </div>
                <div class="option">
                    <input type="radio" name="destination">
                    <label>Argentina</label>
                </div>
                <div class="option">
                    <input type="radio" name="destination">
                    <label>Por el Mundo</label>
                </div>
            </div>
        </div>
        <div class="filter-container price-container">
            <h3>Precio</h3>
            <div class="option-container field-container">
                <input type="number" placeholder="Mínimo" class="option-field" min="0">
                <input type="number" placeholder="Maximo" class="option-field" min="0">
            </div>
        </div>
        <div class="search-button-container">
            <button class="search-button">Buscar</button>
        </div>
    </form>

    <section class="experience-section">
        <div class="experience-card">
            <img src="/img/bernabeu.jpg" alt="">
            <div class="rating-container">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="experience-description">
                <h3>Santiago Bernabeu</h3>
                <h3>$310.000</h3>
            </div>
        </div>

        <div class="experience-card">
            <img src="/img/gizaCatalog.png" alt="">
            <div class="experience-description">
                <h3>Giza</h3>
                <h3>$350.000</h3>
            </div>
        </div>

        <div class="experience-card hidden-card">
            <img src="/img/romaCatalog.jpg" alt="">
            <div class="experience-description">
                <h3>Roma</h3>
                <h3>$350.000</h3>
            </div>
        </div>

        <div class="experience-card hidden-card">
            <img src="/img/romaCatalog.jpg" alt="">
            <div class="experience-description">
                <h3>XXX</h3>
                <h3>XXX</h3>
            </div>
        </div>

        <div class="experience-card hidden-card">
            <img src="/img/romaCatalog.jpg" alt="">
            <div class="experience-description">
                <h3>XXX</h3>
                <h3>XXX</h3>
            </div>
        </div>

        <div class="experience-card hidden-card">
            <img src="/img/romaCatalog.jpg" alt="">
            <div class="experience-description">
                <h3>XXX</h3>
                <h3>XXX</h3>
            </div>
        </div>

        <div class="experience-card hidden-card">
            <img src="/img/romaCatalog.jpg" alt="">
            <div class="experience-description">
                <h3>XXX</h3>
                <h3>XXX</h3>
            </div>
        </div>

        <div class="experience-card hidden-card">
            <img src="/img/romaCatalog.jpg" alt="">
            <div class="experience-description">
                <h3>XXX</h3>
                <h3>XXX</h3>
            </div>
        </div>

        <div class="experience-card hidden-card">
            <img src="/img/romaCatalog.jpg" alt="">
            <div class="experience-description">
                <h3>XXX</h3>
                <h3>XXX</h3>
            </div>
        </div>


        <div class="button-container">
            <button>Ver más</button>
        </div>
    </section>

    <section class="page-button">
        <div class="buttons-container">
            
        </div>
    </section>

    </main>
    
    <footer>
        <div class="cont1-footer">
            <section class="experiencias">
                <h3>Experiencias</h3>
                <ul>
                    <li><a href="/catalogo/hoteleria">Hoteleria</a></li>
                    <li><a href="/catalogo/gourmet">Gourmet</a></li>                   
                    <li><a href="/catalogo/deportes">Deportes</a></li>                      
                    <li><a href="/catalogo/cultura">Cultura</a></li>  
                    <li><a href="/catalogo/viajes">Viajes</a></li>
                </ul>
            </section>
            <section class="metodosDePago">
                <h3>Metodos de pago</h3>
                <h4>Pagar con tarjeta de credito o debito</h4>
                <i class="fa-solid fa-credit-card"></i>
                <h4>Pago en efectivo</h4>
                <i class="fa-solid fa-money-bills"></i>
            </section>
            <section class="contactanos">
                <h3>Contactanos</h3>
                <h4>Informacion de contacto</h4>
                <i class="fa-brands fa-whatsapp"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
            </section>
        </div>
    </footer>
    
</body>
</html>