<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/experienceCatalog.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="cont1">
            <div class="mobile-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="logo-container">
                <a href="/"><img class="logo" src="/img/logo.png" alt="logo"></a>
            </div>
            <form class="search-container" action="/catalogo">
                <input type="text" class="buscador" placeholder="Busca tu mejor experiencia">
                <i class="fa-solid fa-magnifying-glass"></i> 
            </form>
        </div>
        <div class="cont2">

            <div class="categorias">
                <i class="fa-solid fa-plus"></i>

                    <a href="/experienceCatalog">
                        <i class="fa-solid fa-angle-down"></i>
                        <i class="fa-solid fa-hotel"></i>
                        <i class="fa-solid fa-kitchen-set"></i>
                        <i class="fa-solid fa-person-skiing"></i>
                        <i class="fa-solid fa-landmark"></i>
                        <i class="fa-solid fa-plane-departure"></i>
                    </a>
            </div>

            <div class="bottom-header-right">
            <a href="/login" class="usuario">
                <i class="fa-solid fa-user"></i>
                <p>Usuario</p>
                <i class="fa-solid fa-arrow-down"></i>
            </a>
            <a href="/buyCart"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
    </header>

    <main>

    <form action="" class="filter-form">
        <h2 class="filter-title">Filtrar</h2>
        <div class="filter-container superior-filter">
            <h3>Categorías</h3>
            <div class="option-container">
                <div class="option">
                    <label class="label-container">
                        Viajes
                        <input type="radio" value="category" name="category">
                        <span class="radio-button"></span>
                    </label>
                </div>
                <div class="option">
                    <label class="label-container">
                        Hotelería
                        <input type="radio" value="category" name="category">
                        <span class="radio-button"></span>
                    </label>
                </div>
                <div class="option">
                    <label class="label-container">
                        Gourmet
                        <input type="radio" value="category" name="category">
                        <span class="radio-button"></span>
                    </label>
                </div>
                <div class="option">
                    <label class="label-container">
                        Deportes
                        <input type="radio" value="category" name="category">
                        <span class="radio-button"></span>
                    </label>
                </div>
                <div class="option">
                    <label class="label-container">
                        Cultura
                        <input type="radio" value="category" name="category">
                        <span class="radio-button"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="filter-container superior-filter">
            <h3>Nro de personas</h3>
            <div class="option-container">
                <div class="option">
                    <label class="label-container">
                        1 Persona
                        <input type="radio" value="quantity" name="quantity">
                        <span class="radio-button"></span>
                    </label>
                </div>
                <div class="option">
                    <label class="label-container">
                        2 Personas
                        <input type="radio" value="quantity" name="quantity">
                        <span class="radio-button"></span>
                    </label>
                </div>
                <div class="option">
                    <label class="label-container">
                        Más de 2 Personas
                        <input type="radio" value="quantity" name="quantity">
                        <span class="radio-button"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="filter-container">
            <h3>Destino</h3>
            <div class="option-container">
                <div class="option">
                    <label class="label-container">
                        Buenos Aires
                        <input type="radio" value="destination" name="destination">
                        <span class="radio-button"></span>
                    </label>
                </div>
                <div class="option">
                    <label class="label-container">
                        Argentina
                        <input type="radio" value="destination" name="destination">
                        <span class="radio-button"></span>
                    </label>
                </div>
                <div class="option">
                    <label class="label-container">
                        Por el Mundo
                        <input type="radio" value="destination" name="destination">
                        <span class="radio-button"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="filter-container price-container">
            <h3>Precio</h3>
            <div class="option-container field-container">
                <input type="number" placeholder="Mínimo" class="option-field" min="0">
                <input type="number" placeholder="Maximo" class="option-field" min="0">
            </div>
        </div>
        <div class="search-button-container">
            <button class="search-button">Buscar</button>
        </div>
    </form>

    <section class="experience-section">
        <a href="/productDescription" class="experience-card">
            <img src="/img/bernabeuCatalog.jpg" alt="">
            <div class="rating-container">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="experience-description">
                <h3 class="experience-title">Santiago Bernabeu</h3>
                <p class="experience-about">Una visita guiada por uno de los estadios mas importantes en el mundo del fútbol.</p>
                <h3 class="experience-price">$310.000</h3>
            </div>
        </a>

        <a href="/giza" class="experience-card">
            <img src="/img/gizaCatalog.png" alt="">
            <div class="rating-container">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="experience-description">
                <h3 class="experience-title">Giza</h3>
                <p class="experience-about">Visita la tierra de los faraones y descubre una de las maravillas del mundo.</p>
                <h3 class="experience-price">$350.000</h3>
            </div>
        </a>

        <a href="/roma" class="experience-card hidden-card">
            <img src="/img/romaCatalog.jpg" alt="">
            <div class="rating-container">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="experience-description">
                <h3 class="experience-title">Roma</h3>
                <p class="experience-about">Explora las calles y recovecos de la historia en la hermosa ciudad de los Gnocchi.</p>
                <h3 class="experience-price">$350.000</h3>
            </div>
        </a>

        <a href="/liverpool" class="experience-card hidden-card">
            <img src="/img/liverpool.jpg" alt="">
            <div class="rating-container">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="experience-description">
                <h3 class="experience-title">Liverpool</h3>
                <p class="experience-about">Vive un partido del Liverpool FC y escucha el emblematico You will never walk alone.</p>
                <h3 class="experience-price">$250.000</h3>
            </div>
        </a>

        <a href="/stampa" class="experience-card hidden-card">
            <img src="/img/stampa.jpg" alt="">
            <div class="rating-container">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="experience-description">
                <h3 class="experience-title">La Stampa</h3>
                <p class="experience-about">Cena para 2 en el famoso restaurant italiano de la ciudad de Buenos Aires.</p>
                <h3 class="experience-price">$5.000</h3>
            </div>
        </a>

        <a href="/temple" class="experience-card hidden-card">
            <img src="/img/temple.jpg" alt="">
            <div class="rating-container">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="experience-description">
                <h3 class="experience-title">The Temple Bar</h3>
                <p class="experience-about">Noche de cervezas con amigos en uno de los bares más populares de Buenos Aires.</p>
                <h3 class="experience-price">$3.000</h3>
            </div>
        </a>

        <a href="/hotelMadero" class="experience-card hidden-card">
            <img src="/img/hotelMadero.avif" alt="">
            <div class="rating-container">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="experience-description">
                <h3 class="experience-title">Hotel Madero</h3>
                <p class="experience-about">Una noche para 2 personas en el prestigioso hotel de Puerto Madero.</p>
                <h3 class="experience-price">$65.000</h3>
            </div>
        </a>

        <a href="/ribieta" class="experience-card hidden-card">
            <img src="/img/rabieta.jpg" alt="">
            <div class="rating-container">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="experience-description">
                <h3 class="experience-title">Rabieta</h3>
                <p class="experience-about">Cena para 4 personas en el bar ubicado en el hipodromo de Palermo.</p>
                <h3 class="experience-price">$5.000</h3>
            </div>
        </a>

        <a href="/warriors" class="experience-card hidden-card">
            <img src="/img/warriors.jpg" alt="">
            <div class="rating-container">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="experience-description">
                <h3 class="experience-title">Golden State Warriors</h3>
                <p class="experience-about">Noche de NBA en la casa del gran Stephen Curry.</p>
                <h3 class="experience-price">$500.000</h3>
            </div>
        </a>


        <div class="button-container">
            <button>Ver más</button>
        </div>
    </section>

    <section class="page-buttons">
        <div class="buttons-container">
                <button class="move page-button" disabled="disabled"><i class="fa-solid fa-angle-left"></i></button>
                <button class="number page-button">1</button>
                <button class="number page-button">2</button>
                <button class="number page-button">3</button>
                <button class="number page-button">4</button>
                <button class="number page-button">5</button>
                <button class="move page-button"><i class="fa-solid fa-angle-right"></i></button>
        </div>
    </section>

    </main>
    
    <footer>
        <div class="cont1-footer">
            <section class="experiencias">
                <h3>Experiencias</h3>
                <ul>
                    <li><a href="/experienceCatalog">Hoteleria</a></li>
                    <li><a href="/experienceCatalog">Gourmet</a></li>                   
                    <li><a href="/experienceCatalog">Deportes</a></li>                      
                    <li><a href="/experienceCatalog">Cultura</a></li>  
                    <li><a href="/experienceCatalog">Viajes</a></li>
                </ul>
            </section>
            <section class="metodosDePago">
                <h3>Metodos de pago</h3>
                <h4>Pagar con tarjeta de credito o debito</h4>
                <i class="fa-solid fa-credit-card"></i>
                <h4>Pago en efectivo</h4>
                <i class="fa-solid fa-money-bills"></i>
            </section>
            <section class="contactanos">
                <h3>Contactanos</h3>
                <h4>Informacion de contacto</h4>
                <i class="fa-brands fa-whatsapp"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
            </section>
        </div>
    </footer>
    
</body>
</html>