<!-- HEAD -->
<%- include('./partials/head')%>

    <link href="/css/experienceCatalog.css" rel="stylesheet">
    <title>GoodTrail | Experiencias</title>
</head>
<body>

    <!-- HEADER -->
    <%- include('./partials/header')%>

    <main>

    <form action="" class="filter-form">
        <h2 class="filter-title">Filtrar</h2>
        <div class="filter-container superior-filter">
            <h3>Categorías</h3>
            <div class="option-container">
                <div class="option">
                    <label class="label-container">
                        Viajes
                        <input type="radio" value="category" name="category">
                        <span class="radio-button"></span>
                    </label>
                </div>
                <div class="option">
                    <label class="label-container">
                        Hotelería
                        <input type="radio" value="category" name="category">
                        <span class="radio-button"></span>
                    </label>
                </div>
                <div class="option">
                    <label class="label-container">
                        Gourmet
                        <input type="radio" value="category" name="category">
                        <span class="radio-button"></span>
                    </label>
                </div>
                <div class="option">
                    <label class="label-container">
                        Deportes
                        <input type="radio" value="category" name="category">
                        <span class="radio-button"></span>
                    </label>
                </div>
                <div class="option">
                    <label class="label-container">
                        Cultura
                        <input type="radio" value="category" name="category">
                        <span class="radio-button"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="filter-container superior-filter">
            <h3>Nro de personas</h3>
            <div class="option-container">
                <div class="option">
                    <label class="label-container">
                        1 Persona
                        <input type="radio" value="quantity" name="quantity">
                        <span class="radio-button"></span>
                    </label>
                </div>
                <div class="option">
                    <label class="label-container">
                        2 Personas
                        <input type="radio" value="quantity" name="quantity">
                        <span class="radio-button"></span>
                    </label>
                </div>
                <div class="option">
                    <label class="label-container">
                        Más de 2 Personas
                        <input type="radio" value="quantity" name="quantity">
                        <span class="radio-button"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="filter-container">
            <h3>Destino</h3>
            <div class="option-container">
                <div class="option">
                    <label class="label-container">
                        Buenos Aires
                        <input type="radio" value="destination" name="destination">
                        <span class="radio-button"></span>
                    </label>
                </div>
                <div class="option">
                    <label class="label-container">
                        Argentina
                        <input type="radio" value="destination" name="destination">
                        <span class="radio-button"></span>
                    </label>
                </div>
                <div class="option">
                    <label class="label-container">
                        Por el Mundo
                        <input type="radio" value="destination" name="destination">
                        <span class="radio-button"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="filter-container price-container">
            <h3>Precio</h3>
            <div class="option-container field-container">
                <input type="number" placeholder="Mínimo" class="option-field" min="0">
                <input type="number" placeholder="Maximo" class="option-field" min="0">
            </div>
        </div>
        <div class="search-button-container">
            <button class="search-button">Buscar</button>
        </div>
    </form>

    <section class="experience-section">

        <% experiences.forEach(experience => { %>
            
            <%- include('./partials/experienceCatalogCard', {experience: experience}) %> 

        <% }) %>

        <div class="button-container">
            <button>Ver más</button>
        </div>
    </section>

    <section class="page-buttons">
        <div class="buttons-container">
                <button class="move page-button" disabled="disabled"><i class="fa-solid fa-angle-left"></i></button>
                <button class="number page-button">1</button>
                <button class="number page-button">2</button>
                <button class="number page-button">3</button>
                <button class="number page-button">4</button>
                <button class="number page-button">5</button>
                <button class="move page-button"><i class="fa-solid fa-angle-right"></i></button>
        </div>
    </section>

    </main>
    
    <!-- FOOTER -->
    <%- include('./partials/footer')%>
    
</body>
</html>