<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoodTrail|Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/productDescription.css" rel="stylesheet">
</head>
<body>

    <header>
        <div class="cont1">
            <i class="fa-solid fa-bars"></i>
            <img class="logo" src="/img/logo.png" alt="logo">
            <form class="buscador" action="/catalogo">
                <input class="buscar" type="text" name="buscar" id="buscar" placeholder="Busca tu mejor experiencia">
                <i class="fa-solid fa-magnifying-glass"></i>
            </form>
        </div>
        <div class="cont2">
            <h2 class="categorias">Categorias</h2>
            <div class="bottom-header-right">
            <div class="usuario">
                <i class="fa-solid fa-user"></i>
                <p>Usuario</p>
                <i class="fa-solid fa-arrow-down"></i>
            </div>
            <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </div>
    </header>

    <div class="image-carousel">
        <div class="back carousel-button">
            <i class="fa-solid fa-angle-left"></i>
        </div>
        <div class="forward carousel-button">
            <i class="fa-solid fa-angle-right"></i>
        </div>
        <img src="/img/bernabeu.jpg" alt="">
    </div>

    <main>
        <section class="home-buttons">
            <button>Buenos Aires</button>
            <button>Por el mundo</button>
        </section>

        <section class="product-home-container">

            <article class="product">
                <img src="/img/bernabeuCatalog.jpg" alt="Santiago Bernabeu">
                <h4>Satiago Bernabeu</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum reprehenderit .</p>
                <p>$310.000</p>
                <p><i class="fa-solid fa-star"></i>5</p>
            </article>

            <article class="product">
                <img src="/img/romaCatalog.jpg" alt="Roma">
                <h4>Roma</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo enim saepe hic</p>
                <p>$350.000</p>
                <p><i class="fa-solid fa-star"></i>5</p>
            </article>

            <article class="product">
                <img src="/img/gizaCatalog.png" alt="Giza">
                <h4>Piramides de Giza</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, minus! Dicta</p>
                <p>$275.000</p>
                <p><i class="fa-solid fa-star"></i>5</p>
            </article>

        </section>

        <section>
            <button>Ver más</button>
        </section>
        
    </main>

    <footer>
        <div class="cont1-footer">
            <section class="experiencias">
                <h3>Experiencias</h3>
                <ul>
                    <li><a href="/catalogo/hoteleria">Hoteleria</a></li>
                    <li><a href="/catalogo/gourmet">Gourmet</a></li>                   
                    <li><a href="/catalogo/deportes">Deportes</a></li>                      
                    <li><a href="/catalogo/cultura">Cultura</a></li>  
                    <li><a href="/catalogo/viajes">Viajes</a></li>
                </ul>
            </section>
            <section class="metodosDePago">
                <h3>Metodos de pago</h3>
                <h4>Pagar con tarjeta de credito o debito</h4>
                <i class="fa-solid fa-credit-card"></i>
                <h4>Pago en efectivo</h4>
                <i class="fa-solid fa-money-bills"></i>
            </section>
            <section class="contactanos">
                <h3>Contactanos</h3>
                <h4>Informacion de contacto</h4>
                <i class="fa-brands fa-whatsapp"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
            </section>
        </div>
    </footer>
</body>
</html>