<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoodTrail|Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
</head>
<body>

    <header>
        <div class="cont1">
            <div class="mobile-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="logo-container">
                <img class="logo" src="/img/logo.png" alt="logo">
            </div>
            <form class="search-container" action="/catalogo">
                <input type="text" class="buscador" placeholder="Busca tu mejor experiencia">
                <i class="fa-solid fa-magnifying-glass"></i> 
            </form>
        </div>
        <div class="cont2">

            <div class="categorias">
                <i class="fa-solid fa-plus"></i>

                    <a href="/experienceCatalog">
                        <i class="fa-solid fa-angle-down"></i>
                        <i class="fa-solid fa-hotel"></i>
                        <i class="fa-solid fa-kitchen-set"></i>
                        <i class="fa-solid fa-person-skiing"></i>
                        <i class="fa-solid fa-landmark"></i>
                        <i class="fa-solid fa-plane-departure"></i>
                    </a>
            </div>

            <div class="bottom-header-right">
            <a href="/login" class="usuario">
                <i class="fa-solid fa-user"></i>
                <p>Usuario</p>
                <i class="fa-solid fa-arrow-down"></i>
            </a>
            <a href="/buyCart"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
    </header>

    <div class="image-carousel">
        <div class="back carousel-button">
            <i class="fa-solid fa-angle-left"></i>
        </div>
        <div class="forward carousel-button">
            <i class="fa-solid fa-angle-right"></i>
        </div>
        <img src="/img/bernabeu.jpg" alt="">
    </div>

    <main class="index-main">
        <section class="home-buttons">
            <button>Buenos Aires</button>
            <button>Por el mundo</button>
        </section>

        <section class="product-home-container">

            <a href="/productDescription" class="product">
            <!-- <article class="product"> -->
                <img src="/img/bernabeuCatalog.jpg" alt="Santiago Bernabeu">
                <h4>Satiago Bernabeu</h4>
                <p>Una visita guiada por uno de los estadios mas importantes en el mundo del fútbol.</p>

                <div class="price-stars">
                    <p>$310.000</p>
                    <p class="star"><i class="fa-solid fa-star"></i>5</p>
                </div>
            <!-- </article> -->
            </a>

            <a href="/roma" class="product">
            <!-- <article class="product"> -->
                <img src="/img/romaCatalog.jpg" alt="Roma">
                <h4>Roma</h4>
                <p>Explora las fascinantes calles y recovecos de la historia en la hermosa ciudad de los Gnocchi.</p>
                <div class="price-stars">
                    <p>$350.000</p>
                    <p class="star"><i class="fa-solid fa-star"></i>5</p>
                </div>
            <!-- </article> -->
            </a>

            <a href="/giza" class="product">
            <!-- <article class="product"> -->
                <img src="/img/gizaCatalog.png" alt="Giza">
                <h4>Piramides de Giza</h4>
                <p>Entre la arena y los rayos de sol del desierto podras visitar las grandes piramides, un recuerdo de una de las mas grandes civilizaciones de la antiguedad.</p>
                <div class="price-stars">
                    <p>$275.000</p>
                    <p class="star"><i class="fa-solid fa-star"></i>5</p>
                </div>
            <!-- </article> -->
            </a>

        </section>

        <section class="load-more-button">
            <button>Ver más</button>
        </section>
        
    </main>

    <footer>
        <div class="cont1-footer">
            <section class="experiencias">
                <h3>Experiencias</h3>
                <ul>
                    <li><a href="/catalogo/hoteleria">Hoteleria</a></li>
                    <li><a href="/catalogo/gourmet">Gourmet</a></li>                   
                    <li><a href="/catalogo/deportes">Deportes</a></li>                      
                    <li><a href="/catalogo/cultura">Cultura</a></li>  
                    <li><a href="/catalogo/viajes">Viajes</a></li>
                </ul>
            </section>
            <section class="metodosDePago">
                <h3>Metodos de pago</h3>
                <h4>Pagar con tarjeta de credito o debito</h4>
                <i class="fa-solid fa-credit-card"></i>
                <h4>Pago en efectivo</h4>
                <i class="fa-solid fa-money-bills"></i>
            </section>
            <section class="contactanos">
                <h3>Contactanos</h3>
                <h4>Informacion de contacto</h4>
                <i class="fa-brands fa-whatsapp"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
            </section>
        </div>
    </footer>
</body>
</html>