<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="css/notFound.css">
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
</head>
<body>
    
    <!-- HEADER -->
    <%- include('./partials/header')%>

<main>
    <div>
    <h1>ERROR 404</h1>
    <h2>SE ROMPIÓ TODO</h2>
    <h3>La página que estas buscando no existe o fue eliminada. Podes volver a la <a href="/">pagina de inicio</a> y continuar navegando.</h3>
    </div>
</main>
<footer>
    <div class="cont1-footer">
        <section class="experiencias">
            <h3>Experiencias</h3>
            <ul>
                <li><a href="/catalogo/hoteleria">Hoteleria</a></li>
                <li><a href="/catalogo/gourmet">Gourmet</a></li>                   
                <li><a href="/catalogo/deportes">Deportes</a></li>                      
                <li><a href="/catalogo/cultura">Cultura</a></li>  
                <li><a href="/catalogo/viajes">Viajes</a></li>
            </ul>
        </section>
        <section class="metodosDePago">
            <h3>Metodos de pago</h3>
            <h4>Pagar con tarjeta de credito o debito</h4>
            <i class="fa-solid fa-credit-card"></i>
            <h4>Pago en efectivo</h4>
            <i class="fa-solid fa-money-bills"></i>
        </section>
        <section class="contactanos">
            <h3>Contactanos</h3>
            <h4>Informacion de contacto</h4>
            <i class="fa-brands fa-whatsapp"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
        </section>
    </div>
</footer>
</body>
</html>