<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descripción de producto</title>
</head>
<body>
    <header>
        <h1>Aca va el header</h1>
    </header>

    <div class="images-carousel">
        <div class="back-button">

        </div>
        <div class="forward-button">

        </div>
        <img src="../public/img/bernabeu.jpg" alt="">
    </div>
    
</body>
</html>