<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descripción de producto</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/productDescription.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="cont1">
            <i class="fa-solid fa-bars"></i>
            <img class="logo" src="/img/Good Tail - logo.jpg" alt="logo">
            <form class="buscador" action="/catalogo">
                <input class="buscar" type="text" name="buscar" id="buscar" placeholder="Busca tu mejor experiencia">
                <i class="fa-solid fa-magnifying-glass"></i>
            </form>
        </div>
        <div class="cont2">
            <h2 class="categorias">Categorias</h2>
            <div class="bottom-header-right">
            <div class="usuario">
                <i class="fa-solid fa-user"></i>
                <p>Usuario</p>
                <i class="fa-solid fa-arrow-down"></i>
            </div>
            <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </div>
    </header>

    <div class="image-carousel">
        <div class="back carousel-button">
            <i class="fa-solid fa-angle-left"></i>
        </div>
        <div class="forward carousel-button">
            <i class="fa-solid fa-angle-right"></i>
        </div>
        <img src="/img/bernabeu.jpg" alt="">
    </div>

    <main>
        <section class="mobile-title">
            <h1 class="main-title">Experiencia Santiago Bernabeu</h1>
        </section>

        <section class="container experience-options">
            <div class="experience-title">
                <h1 class="main-title">Experiencia Santiago Bernabeu</h1>
                <div class="experience-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
            <button class="buy-button">
                Comprar
            </button>
            <div class="experience-button">
                <i class="fa-solid fa-cart-plus"></i>
                <i class="fa-solid fa-heart"></i>
            </div>
            
        </section>
        <section class="container">
            <div class="column">
                <h2 class="info-header">Precio</h2>
                <h3 class="info-context">$310.000</h3>
            </div>
            <div class="column">
                <h2 class="info-header">Personas</h2>
                <h3 class="info-context">2</h3>
            </div>
            <div class="column">
                <h2 class="info-header">Ubicación</h2>
                <h3 class="info-context">Madrid</h3>
            </div>
            <div class="column">
                <h2 class="info-header">Días</h2>
                <h3 class="info-context">2</h3>
            </div>
        </section>
        <section class="container">
            <h2 class="section-title">Descripción</h2>
            <div class="description-text">
                <p>Estadia en Madrid para 2 personas. 2 días de estadias. Viaje incluido. </p>
                <p>Vivi la experiencia de ver un partido de UEFA Champions League del Real Madrid en el grandioso Santiago Bernabeu</p>    
            </div>
        </section>
        <section class="mobile-buttons">
            <button class="buy-button">
                Comprar
            </button>
            <div class="experience-button">
                <i class="fa-solid fa-cart-plus"></i>
            </div>
            <div class="experience-button">
                <i class="fa-solid fa-heart"></i>
            </div>
        </section>
        <section class="container map-container">
            <h2 class="section-title">Mapa</h2>
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3036.0426330626033!2d-3.692847685271651!3d40.45219336140707!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4228e2fe54acd3%3A0x7bdf12a106fcb23e!2sSantiago%20Bernabeu!5e0!3m2!1ses-419!2sar!4v1650753609969!5m2!1ses-419!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
    </main>

    <footer>
        <h2>Aca va el footer</h2>
    </footer>
</body>
</html>