:root {
    --blue-crayola: #3777ff;
    --golden-yellow: #ffd60a;
    --crimson-red: #d7263d;
}

.index-main{
    width: 100%;
    min-height: 800px;
    margin: auto;
}

    main section {
        padding: 10px 0px;
        width: 85%;
        margin: auto;
    }

    .home-buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .home-buttons button{
        background-color: #ffffff;
        padding: 5px 10px;
        border: #ffffff solid 2px;
        border-radius: 150px;
        box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
        transition: all 450ms;
    }

    .home-buttons button:hover{
        color: var(--blue-crayola);
        border: var(--blue-crayola) solid 2px;
    }

    .product-home-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

        .product {
            background-color: #ffffff;
            box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
            margin-bottom: 30px;
            color: black;
            text-decoration: none;
            border-radius: 5px;
        }

            .product img {
                width: 100%;
            }

            .product h4 {
                font-size: 20px;
                margin: 5px 0px 15px 7.5px;
            }

            .product p {
                font-size: 18px;
                margin: 0px 10px 5px 10px;
            }

            .price-stars {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                /* align-items: center; */
                margin: 10px 10px 5px 5px;
            }

                .product .price-stars p {
                    font-size: 18px;
                    font-weight: bold;
                }

                .price {
                    color: #3777ff;
                }

                .product i {
                    font-size: 18px;
                    color: var(--golden-yellow);
                }
                    .star {
                        color:  var(--golden-yellow);
                        font-weight: bold;
                    }

        .load-more-button {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            padding-bottom: 15px;
        }

            .load-more-button button{
                display: flex;
                justify-self: center;
                align-items: center;
                width: 100px;
                height: 40px;
                font-size: 20px;
                background-color: #ffffff;
                padding: 5px 10px;
                border: #ffffff solid 2px;
                border-radius: 150px;
                box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
                transition: all 450ms;
            }

            .load-more-button button:hover{
                color: var(--crimson-red);
                border: var(--crimson-red) solid 2px;
            }

@media (min-width: 768px) {
    .product {
        width: 40%;
    }

    .product:hover {
        cursor: pointer;
        box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    }


}

@media (min-width: 1200px) {
    .product {
        width: 20%;
    }
}