:root {
    --crimson-red: #d7263d;
}

main{
    min-height: 500px;
}
main div{
    background-color: white;
    width: fit-content;
    margin: auto;
    padding: 20px ;
    margin-top: 40px;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
}
main div a{
    color:  #3777ff;
    transition: 100ms;
}
main div a:hover{
    color: var(--crimson-red);
}
h1{
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    text-align: center;
}
h2{
    text-align: center;

}
h3{
    text-align: center;

}
.logo{
    display: flex;
    justify-content: center;
}
.logo img{
    width: 150px;
    border-radius: 50px;
}

