* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


    header {
        background-color: #f5f5f5;
    }
        header .cont1 {
            padding: 10px 0px;
            background-color: #ffffff;
            width: 95%;
            display: flex;
            align-items: center;
            justify-content: space-around;           
            margin: auto;
            border-radius: 150px;
        }

                    .fa-bars,
                    .fa-magnifying-glass {
                        font-size: 30px;
                    }

                    header .logo {
                        width: 50%;
                    }

                    .buscar,
                    .usuario,
                    .fa-cart-shopping,
                    .categorias {
                        display: none;
                    }

    main {
        /*width: 100%;
        height: 600px;
        border: solid 2px red;
        background-color: #f5f5f5;*/
    }

    footer{
        padding: 10px 0px;
        line-height: 31px;
    }

        footer .container {
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            flex-wrap: wrap;
            text-align: center;
        }

            footer section {
                padding-bottom: 10px;
                margin: 0px 5px;
            }
            footer h3 {
                font-size: 26px;
                margin-bottom: 5px;
            }

            footer h4 {
                font-size: 20px;
            }

            footer li {
                list-style: none;
            }
                footer a {
                    text-decoration: none;
                    font-size: 20px;
                }

            footer .experiencias a,
            footer .metodosDePago h4,
            footer .contactanos h4{
                color: #666666;
            }

        footer i {
            color: #3777FF;
            font-size: 26px;
            margin: 0px 5px;
        }


@media (min-width: 768px) {
                    .fa-bars,
                    .fa-magnifying-glass {
                        font-size: 40px;
                    }

                    header .logo {
                        width: 40%;
                    }
}

@media (min-width: 1200px) {

    header {
        background-color: #ffffff;
        padding: 0px 0px 10px 0px;
    }
                    
            header .cont1 {
                padding: 10px 0px;
                width: 100%;
                display: flex;
                justify-content: space-between;           
                margin: auto;
                border-radius: 0px;
            }
                    .fa-bars {
                        display: none;
                    }
                    
                    .fa-magnifying-glass {
                        font-size: 40px;
                    }

                    header .logo {
                        width: 250px;
                        justify-self: flex-start;
                        margin-left: 20px;
                    }

                    .buscador {
                        display: flex;
                        justify-self: center;
                        border: black solid 1px;
                        border-radius: 30px;
                        width: 450px;
                        height: 45px;
                        padding: 5px 0px;
                        box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
                        position: relative;
                        top: 0%;
                        right: 34%;
                        /* margin: auto; */
                    }

                        .buscar {
                            border: none;
                            font-size: 18px;
                            /* margin: 0px 10px; */
                            margin: auto;
                            width: 50%;
                        }
                        .fa-magnifying-glass{
                            font-size: 30px;
                            position: relative;
                            top: 0%;
                            left: -3%;
                        }

                    .buscar,
                    .usuario,
                    .fa-cart-shopping,
                    .categorias {
                        display: flex;
                    }
                header .cont2 {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    flex-direction: row;
                }
                    .bottom-header-right {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin: 0px 40px 0px 0px;
                    }

                        .categorias {
                            font-size: 25px;
                            margin: 0px 0px 0px 40px;
                        }

                        .usuario {
                            border: solid black 1px;
                            justify-content: space-between;
                            align-items: center;
                            background-color: white;
                            width: 150px;
                            height: 40px;
                            border-radius: 20px;
                        }
                            .usuario .fa-user {
                                background-color: #ccc7c7;
                                padding: 5px;
                                border-radius: 20px;
                                font-size: 15px;
                                margin-left: 5px;
                            }
                            .usuario p {
                                font-weight: bold;
                                font-size: 16px;
                            }
                            .usuario .fa-arrow-down {
                                margin-right: 5px;
                                padding: 5px;
                            }

                            .fa-cart-shopping {    
                                margin: 0px 0px 0px 5px;
                                border-left: #3777ff solid 4px;
                                padding: 10px 0px 10px 5px;
                                font-size: 20px;
                            }
}