<!-- HEAD -->
<%- include('./partials/head')%>

    <link href="/css/buyCart.css" rel="stylesheet">
    <title>GoodTrail | Carrito</title>
</head>
<body>
    
    <!-- HEADER -->
    <%- include('./partials/header')%>
    
    <main>

        <% experiences.forEach(experience => { %>
            <%- include('./partials/cartProduct', {experience: experience}) %> 
        <% }) %>

    
        <article>
            <div class="envioDomicilio">
                <div class="sub">
                    <p>Envio a domicilio</p>
                    <i class="fa-solid fa-arrow-down"></i>
                </div>
                <p class="gratis">Gratis</p>
            </div>
            <div class="precioTotal">
                <p class="total">Total</p>
                <p class="dinero">$935.000</p>
            </div>
            <div class="divBoton">
                <a href="#"><button class="botonContinuar">Continuar</button></a>
            </div>
        </article>
     </main>
     
    <!-- FOOTER -->
    <%- include('./partials/footer')%>
    
</body>
</html>