<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>GoodTrail | Perfil</title> 
    <link rel="stylesheet" href="/css/userProfile.css">
</head>
<body>

    <%- include('./partials/header') %> 

    <main class="main-profile">


        <div class="profile-container">

            <%- include('./partials/profileMenu') %> 
            
    
            <div class="profile">
                <section class="profile-section">
                    <form action="/user/update?_method=PUT" method="POST" class="profile-form">
                        <label class="profile-label">Contaseña anterior</label>
                        <input type="text" name="oldPassword">
                        <label class="profile-label">Contraseña nueva</label>
                        <input type="password" name="newPassword">
                        <label class="profile-label">Confirmar contraseña nueva</label>
                        <input type="password" name="confirmPassword">
                        <button type="submit" class="button edit-profile-button">Guardar</button>
                    </form>
                </section>
            </div>
        </div>

    </main>    

    <%- include('./partials/footer')  %> 
    
</body>
</html>