<!-- HEAD -->
<%- include('./partials/head')%>

    <link href="/css/formulary-sheets.css" rel="stylesheet">
    <title>GoodTrail | Login</title>
</head>
<body>
    <section class="form-section">
        <header>
            <a href="/"><h2>GoodTrail</h2></a>
            <h1 class="header-title">Inicio de sesión</h1>
            <nav class="register-nav">
                <ul>
                    <li><a href="#" class="option-selected">Iniciar Sesión</a></li>
                    <li><a href="/user/registerFormulary" class="option-unselected">Registrarse</a></li>
                </ul>
            </nav>
        </header>    
        <main>
    
            <form action="/user/login" method="POST">
                <div class="input-container">
                    <label for="email">Email</label>
                    <input type="email" name="userEmail" id="email" required>
                </div>
                </div>
                <div class="input-container">
                    <label for="">Contraseña</label>
                    <input type="password" name="userPassword" required>
                </div>
                <div class="last-container">
                    <div class="remember-container">
                        <label class="label-container">
                            Recordarme
                            <input type="checkbox" name="remember" value="remember">
                            <span class="checkbox-button"></span>
                        </label>
                    </div>
                    <div class="link-container">
                        <a href="">¿Olvidaste tu Contraseña?</a>
                    </div>
                </div>

                <button class="register-button" type="submit">Iniciar sesión</button>
            </form>

        </main>
    </section>
</body>
</html>
