<!-- HEAD -->
<%- include('./partials/head')%>

    <link rel="stylesheet" href="css/notFound.css">
    <title>GoodTrail | 404</title>
</head>
<body>

    <!-- HEADER -->
    <%- include('./partials/header')%>

<main>
    <div>
    <h1>ERROR 404</h1>
    <h2>SE ROMPIÓ TODO</h2>
    <h3>La página que estas buscando no existe o fue eliminada. Podes volver a la <a href="/">pagina de inicio</a> y continuar navegando.</h3>
    </div>
</main>

<!-- FOOTER -->
<%- include('./partials/footer')%>

</body>
</html>