<!-- HEAD -->
<%- include('./partials/head')%>

    <title>GoodTrail | 404</title>
    <link rel="stylesheet" href="/css/notFound.css">
</head>
<body>

    <!-- HEADER -->
    <%- include('./partials/header')%>

<main>
    <div>
    <h1>ERROR 404</h1>
    <h2>UPS...SE ROMPIÓ TODO <i class="fa-solid fa-face-grin-beam-sweat"></i></h2>
    <h2>No, es chiste.</h2>
    <h3>La página que estas buscando no existe o fue eliminada. Podes volver a la <a href="/">pagina de inicio</a> y continuar navegando.</h3>
    </div>
</main>

<!-- FOOTER -->
<%- include('./partials/footer')%>

</body>
</html>