<!-- HEAD -->
<%- include('./partials/head')%>

    <link href="/css/notFound.css" rel="stylesheet">
    <title>GoodTrail | Editar</title>
</head>
<body>

    <!-- HEADER -->
    <%- include('./partials/header')%>

    <main>
        <div>
            <h2>Ésta URL está en mantenimiento</h2>
            <h3>En caso de querer editar una experiencia, <a href="/user/login">ingresar a su usuario</a> o <a href="/user/registerFormulary">crear uno</a> en caso de no tener, ir a la pagina de perfil presionando en su nombre del header y elegir la experiencia a editar</h3>
        </div>
    </main>

    <!-- FOOTER -->
    <%- include('./partials/footer')%>
</body>