<!-- HEAD -->
<%- include('./partials/head')%>

    <link href="/css/formulary-sheets.css" rel="stylesheet">
    <title>GoodTrail | Register</title>
</head>
<body>

    <section class="form-section">
        <header>
            <a href="/"><h2>GoodTrail</h2></a>
            <h1 class="header-title">Registrarse en GoodTrail</h1>
            <nav class="register-nav">
                <ul>
                    <li><a href="/user/login" class="option-unselected">Iniciar sesión</a></li>
                    <li><a href="#" class="option-selected">Registrarse</a></li>
                </ul>
            </nav>
        </header>
    
        <main>
    
            <form action="/user/registerFormulary" method="POST">
                <div class="input-container">
                    <label for="email">Email</label>
                    <input type="email" name="userEmail" id="email" required>
                </div>
                <div class="input-container">
                    <label for="userName">Nombre</label>
                    <input type="text" name="userName" id="userName" required>
                </div>
                <div class="input-container">
                    <label for="">Contraseña</label>
                    <input type="password" name="userPassword" minlength="8" required> 
                </div>
                <div class="input-container">
                    <label for="">Confirmar contraseña</label>
                    <input type="password" name="passwordConfirmation" minlength="8" required>
                </div>
                <div class="input-container">
                    <label for="">Fecha de nacimiento</label>
                    <input type="date" name="birthDate" id="" max="2020-01-01" min="1949-12-31" required>
                </div>
                <button class="register-button" type="submit">Registrarse</button>
            </form>

        </main>
    </section>

</body>
</html>