<!-- HEAD -->
<%- include('./partials/head')%>

    <link href="/css/formulary-sheets.css" rel="stylesheet">
    <title>GoodTrail | Login</title>
</head>
<body>
    <section class="form-section">
        <header>
            <a href="/"><h2>GoodTrail</h2></a>
            <h1 class="header-title">Recuperar Contraseña</h1>
        </header>    
        <main>
    
            <form action="#" method="POST">
                <div class="input-container">
                    <label for="email">Ingresa tu email para recuperar la Contraseña</label>
                    <input type="text" name="userEmail" id="email" value = "<%= locals.old && old.userEmail ? old.userEmail : "" %>">
                    <% if (locals.errors && errors.userEmail) { %>
                        <p class="text-danger">
                            <%= errors.userEmail.msg %> 
                        </p>
                    <% } %>
                </div>

                <button class="register-button" type="submit">Enviar email</button>
            </form>

        </main>
    </section>
</body>
</html>
