<div class="image-carousel">
    
    <% if (experiences.length > 1) { %>
        <% experiences.forEach(experience => { %>
            <div class="slide">
                <img src="/img/cardImages/<%= experience.images[0].url %> " alt="">
            </div>     
        <% }) %>     
    <% } else { %>
        <div class="slide">
            <img src="/img/cardImages/<%= experiences.images[0].url %> " alt="">
        </div>
    <% } %> 

    <div class="back carousel-button" id="back-button">
        <i class="fa-solid fa-angle-left"></i>
    </div>
    <div class="forward carousel-button" id="forward-button">
        <i class="fa-solid fa-angle-right"></i>
    </div>
</div>