<div class="profile-menu">
    <section class="profile-image-section">
        <div class="image-container">
            <img src="/img/usersImages/<%= locals.userLogged.image %>" alt="">
            <button class="button edit-image-profile-button">Editar</button>
        </div>
    </section>
    <div class="menu-options">
        <a href="/user/profile" class="selected">Editar Perfil</a>
        <a href="/user/password">Cambiar contraseña</a>
        <a href="">Mis Experiencias</a>
    </div>
</div>