<a href="/user/profile" class="usuario">
    <img id="headerUserAvatar" src="/img/usersImages/<%= locals.userLogged.image %>" alt="">
    <p><%= locals.userLogged.first_name + ' ' + locals.userLogged.last_name %> </p>
    <i class="fa-solid fa-arrow-down"></i>
</a>